thead th {
  font-size: 20px;
  text-align: center;
  color: #2F4F4F;
}

tbody td {
  font-size: 18px;
  color: #2F4F4F;
}

td:hover {
  background-color: #F5F5F5;
}

.table-bordered > thead > tr > th, .table-bordered > thead > tr > th, .table-bordered > tbody > tr > td, .table-bordered > tbody > tr > td {
    border: 2px solid #131212;
    text-align: center;
    margin: 1em 0;
    padding: 3;
}

hr {
    display: block;
    height: 3px;
    border: 0;
    border-top: 6px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

#evaluacion_dolor{
  text-align: center;
  color: #2F4F4F;
  font-size: 35px;
}

.dolor{
  border-style: solid;
  border-color: #808080;
}

#editar{
  color: orange;
  text-align: justify;
  padding: 0;
}

#eliminar{
  color: red;
  text-align: justify;
}

#dolor{
  border-style: solid;
  border-color: #808080;
}
