thead th {
  font-size: 20px;
  text-align: center;
}

tbody td {
  font-size: 18px;
  text-align: justify;
  color: black;
}

td:hover {
  background-color: #c0c0c0;
}

.table-bordered > thead > tr > th, .table-bordered > thead > tr > th, .table-bordered > tbody > tr > td, .table-bordered > tbody > tr > td {
    border: 3px solid #131212;
    text-align: center;
}
